portier-cli
vendor/
coverage.out
/dist
.envrc
manpages/
dist/

.idea/

kubeconfig

# Windows binaries
portier-cli.exe
portier-tray.exe
portier-cli-installer.exe

# Test binaries
portier-cli-test
portier-tray-test